<div class="player-full-information">
  <div class="player-header">
    <h2 class="player-name">{{ label }}</h2>
  </div>
  <div class="player-wrapper">
    <div class="left-column">{{ content.field_photo }}</div>
    <div class="right-column">
      <div class="player-info-wrapper">
        <div class="player-birthday">{{ content.field_birthday }}</div>
        <div class="player-position">{{ position }}</div>
        <div class="player-weight">{{ content.field_weight }}</div>
        <div class="player-height">{{ content.field_height }}</div>
        <div class="player-number">{{ content.field_number }}</div>
        <div class="player-contacts">{{ content.field_social_networks }}</div>
      </div>
    </div>
  </div>
  <div class="player-bio">{{ content.body }}</div>
  <div class="player-photos">{{ content.field_photos }}</div>
</div>
